@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

nav#simpletop {
	background-color: $white ;
	margin: 0;
	width: 100%;
	max-width: 100%;
	.dropdown.menu .submenu{
		border: none !important;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) ;
		width: 15rem;
	}
	.menu > li {
		line-height: calc-rem(17);
	}
	.menu > li > a {
		font-weight: bold;
		font-size: $menu-font-size;
	}

}

h1.pagetitle {
	color: rgba( 156, 104, 136, 0.9);
	font-weight: bold;
	font-size: 28px;
	margin-top: 8px;
	font-variant: small-caps;
}

div.jumbotron {
	background-color: #BA93AB;
	color: $white;
	box-shadow: 0px 2px 4px rgba (0,0,0,0.5);
	border-radius: 25px;
	margin: 5px 20px 25px 20px;

	h2 {
		text-align: center;
		font-weight: bold;
	}

	h3 {
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
	}

	h4 {
		color: #595858;
		text-align: center;
		font-size: 18px;
	}

	label {
		color: $white;
		texa-align: center;
		font-style: italic;
	}

	img {
		width: 100%;
		margin-top: 10px;
		border-radius: 15px;
	}
}

.tabs-title > a:hover, .tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
	background: #EBD4E2;
	color: #9C6888;
	font-weight: bold;
}
