@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

nav#simpletop {
	background-color: $white ;
	margin: 0;
	width: 100%;
	max-width: 100%;
	.dropdown.menu .submenu{
		border: none !important;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) ;
		width: 15rem;
	}
	.menu > li {
		line-height: calc-rem(17);
	}
	.menu > li > a {
		font-weight: bold;
		font-size: $menu-font-size;
	}

}

/* Generic header declaration */
h1, h2, h3, h4, h5 {
	color: $secondary-color;
}

/* Page Title */
h1.pagetitle {
	color: $primary-color;
	font-weight: bold;
	font-size: 28px;
	font-variant: small-caps;
	margin: 8px 0 -12px 8px;
}

section.jumbotron, div.jumbotron {
//	background-color: #BA93AB;
//	background-color: #C14675; darkest
//	background-color: #DF6E99; darker
	background-color: $primary-color;
	color: $white;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	border-radius: 25px;
	margin: 10px auto;
	padding: 16px;

	h2, h3, h4 {
		text-align: center;
		font-weight: bold;
		color: $white;
	}

	h2 {
	}

	h3 {
		text-transform: uppercase;
		text-shadow: 1px 1px 4px rgba(0,0,0,0.5);	}

	h4 {
//		color: #595858;
		color: black;
		font-size: 18px;
//		font-weight: lighter;
		text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	}

	label {
		color: $white;
		text-align: center;
		font-style: italic;
		display: block;
		background-color: rgba(0,0,0,0.3);
	}

	img {
		width: 100%;
		margin-top: 10px;
		border-radius: 15px;
	}
}

.tabs-title > a:hover, .tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
	background: $primary-color;
	color: $tertiary-color;
	font-weight: bold;
}

div.headline {
	box-shadow: 0px -2px 14px rgba(0,0,0,0.25);
	border: none;
}

section.row, footer.row {
	padding: 16px;
}

footer.row {
	background-color: $ctertiary-color;
	margin-top: 24px;
	padding: 14px;

	h4 {
		color: $lighter-ctertiary-color;
		text-align: center;
	}
}

.tabs-panel {
	box-shadow: 0px -2px 14px rgba(0,0,0,0.25);

	h3 {
		color: $primary-color;
	}

}

div.tab-toolbar-container {
	visibility: hidden;
}
footer{

}

/* LANDING PAGE */
body#landing {

	section.row.landing {
		padding: 0;
		margin: 0px 0 16px 0;

		img.bg {
			z-index: -1;
			width:100%;
		}

	}



	}
