<div class="row">
   <div class="large-6 columns">
      <h3>How many fish are in the water?</h3>
      <p>NOAA research ships and chartered fishing vessels conduct annual surveys of the Bering Sea and Gulf of Alaska, and biannual bottom trawl surveys in Aleutian Islands and Gulf of Alaska. This allows managers to adjust catch limits whenever necessary to keep fishing levels sustainable.</p>
      {{> image
         img="p1-1-ebs-slow.gif"
         caption="Survey Areas in the Eastern Bering Sea"
      }}
   </div>

   <div class="large-6 columns">
      {{> image
         img="p1-1-Cutter.jpg"
         caption="US Coast Guard Cutter"
      }}
      {{> image
         img="p1-1-Dyson.jpg"
         caption="NOAA R/V Oscar Dyson"
         cite="NOAA"
      }}
      <p><a data-featherlight="#p11References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p11References">
         <ul>
             <li><a href="http://www.afsc.noaa.gov/RACE/groundfish/default.php" target="_blank">Annual surveys in Bering Sea and Gulf of Alaska</a></li>             
             <li><a href="https://data.noaa.gov/dataset/afsc-race-gap-palsson-gulf-of-alaska-and-aleutian-islands-biennial-bottom-trawl-survey-estimate" target="_blank">Biannual bottom trawl surveys in Aleutian Islands and Gulf of Alaska</a></li>

         </ul>
      </div>

      <p>&nbsp;</p>
   </div>
</div>
