<div class="row">
   <div class="large-6 columns">
      <h3>How many fish are in the water?</h3>
      <p>NOAA research ships and chartered fishing vessels conduct annual surveys of the Bering Sea and Gulf of Alaska, and biennial surveys in the Aleutians. This allows managers to adjust catch limits whenever necessary to keep fishing levels sustainable.</p>
      {{> image
         img="p1-1-ebs-slow.gif"
         caption="Survey Areas in the Eastern Bering Sea"
      }}
   </div>

   <div class="large-6 columns">
      {{> image
         img="p1-1-Cutter.jpg"
         caption="US Coast Guard Cutter"
      }}
      {{> image
         img="p1-1-Dyson.jpg"
         caption="NOAA R/V Oscar Dyson"
         cite="NOAA"
      }}
      <p><a data-featherlight="#p11References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p11References">
         Please Add References
      </div>

      <p>&nbsp;</p>
   </div>
</div>
