<div class="row">
   <div class="large-6 columns">
      <h4>What’s coming out of the water? </h4>
      <p>Monitoring what comes up in the gear is key to effective resource conservation in the North Pacific. Observers (left) collect data on more than 90% of all groundfish tonnage harvested in the Bering Sea and Aleutian Islands (BSAI), producing the dense plot of data points at right. Observers are trained, certified and managed by NOAA Fisheries to federal standards; vessel owners pay for the service to ensure their catches stay within authorized limits.</p>

      <blockquote>“At the core of the North Pacific monitoring system is a comprehensive, industry-funded, on-board observer program, coupled with requirements for total weight measurement of most fish harvested. Used in conjunction with reporting and weighing requirements, the information collected by observers provides the foundation for in-season management and for tracking species-specific catch and bycatch amounts.” <cite>NPFMC</cite>
      </blockquote>
   </div>
   <div class="large-6 columns">

      <img src="{{root}}assets/img/p1harvest.png" alt="NOAA Certified Fisheries Observer">
      <label class="figurecaption">NOAA Certified Fisheries Observer</label>

      <img src="{{root}}assets/img/p1harvestfish.png" alt="Groundfish Observer Data">
      <label class="figurecaption">Groundfish Observer Data</label>


      <p><a data-open="p12References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p12References" data-reveal>
         <a href='http://www.afsc.noaa.gov/FMA/spatial_data.htm' target="_blank">Observer data and map</a><br>
         <a href='http://www.npfmc.org/observer-program/' target="_blank">NPFMC on observer and catch-accounting systems</a>
      </div>

      <p>&nbsp;</p>
   </div>
</div>
