<div class="row">
   <div class="large-6 columns">
      <p>Most vessels fishing in federal waters off Alaska are required to carry satellite Vessel Monitoring Systems (VMS) that transmit their position in real-time, allowing NOAA to enforce closed areas such as seamounts and “no-transit” zones designed to prevent disturbance of sensitive marine mammals. </p>
      <blockquote cite="http://www.nmfs.noaa.gov/ole/slider_stories/2013/o82613_beyond_the_badge.html">
        “VMS techs now monitor more than 4,400 vessels across the country with near pinpoint accuracy.”<cite>NOAA</cite>
      </blockquote>
   </div>

   <div class="large-6 columns">
     {{> image
        img="p1-3-sarah.jpg"
        caption="VMS Tech"
        cite="NOAA"
     }}
     <p><a data-featherlight="#p13References" class="float-right">REFERENCES</a></p>
     <div class="lightbox" id="p13References">
       <a href="http://www.nmfs.noaa.gov/ole/slider_stories/2013/o82613_beyond_the_badge.html">Source for NOAA Quote</a>
     </div>
   </div>
</div>
