<div class="row">
   <div class="large-6 columns">
      <p>The Alaska Catch Accounting System is an integrated effort to monitor what is being caught, when, and where. The system incorporates data from the observer program as well as VMS information, logbooks from vessel operators, reports by shoreside and at-sea processors, and port sampling data. Most of this information is kept confidential to protect fishermen, while allowing real-time management of harvests.</p>
      {{> image
         img="p1-4-brailer.jpg"
         caption="Brailer Sample"
         cite="NOAA"
      }}
   </div>
   <div class="large-6 columns">
     {{> image
        img="p1-4-herbert.jpg"
        caption="Herbert the Spiny Lumpsucker"
        cite="NOAA"
     }}

      <p><a data-featherlight="#p14References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p14References">
         <a href='http://www.afsc.noaa.gov/Publications/AFSC-TM/NOAA-TM-AFSC-286.pdf' target="_blank">NOAA Technical Memorandum</a><br>
         <a href='http://www.afsc.noaa.gov/quarterly/jfm2013/jfm13featurelead.htm' target="_blank">NOAA Research Feature</a><br>
         <a href='http://www.afsc.noaa.gov/FMA/' target="_blank">NOAA FMA Overview</a>
      </div>

      <p>&nbsp;</p>
   </div>
</div>
