<h2>Stopping Poachers</h2>
<p>Joint enforcement efforts by the U.S. and regional partners have reduced illegal salmon driftnet fishing since the late 1990s. Average detections per year have dropped from 5.3 during 1993-1999 to 0.7 since then. This helps conserve fish returning to U.S. rivers. U.S. and partner nations cooperate to enforce limits even beyond US waters, working through the North Pacific Anadromous Fish Commission (NPAFC).
</p>

<h4>Detections and Apprehensions of Salmon Driftnet Operations by NPAFC</h4>
<script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
<div class='tableauPlaceholder' style='width: 982px; height: 742px;'><noscript><a href='#'><img alt='p1 Enforcement ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MC&#47;MCA-EBFM&#47;p1Enforcement&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='100%' height='500' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='MCA-EBFM&#47;p1Enforcement' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MC&#47;MCA-EBFM&#47;p1Enforcement&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='no' /><param name='display_count' value='no' /><param name='showTabs' value='no' /></object></div>
<!-- <p><a data-open="p15References" class="float-right">REFERENCES</a></p>
<div class="reveal" id="p15References" data-reveal>
   <a href='http://www.npafc.org/new/index.html' target="_blank">NPAFC</a>
</div> -->
