<div class="row">
   <div class="large-12 columns">
      <h3>Bigger than Texas</h3>
      <p> Protected waters in the North Pacific span hundreds of thousands of square miles. The largest protected area, in the Aleutian Islands, is larger than any state in the continental US.</p>
   </div>
</div>
<div class="row row-img">
   <div class="large-6 columns img-aleutian">
       <h5 style="text-align:center">Aleutian Islands Habitat Conservation Area: <br><b>277,100 square nautical miles</b></h5>
      <a href="{{root}}assets/img/p3-1-aleutian.jpg" data-featherlight="image">
      <img src="{{root}}assets/img/p3-1-aleutian.jpg">
      <label class="figurecaption">
      <cite>John Olson, NOAA</cite></label>
      </a>
   </div>

   <div class="large-6 columns img-texas">
       <h5 style="text-align:center">Texas: <br><b>268,820 square miles</b></h5>
       <a href="{{root}}assets/img/p3-2-texas.gif" data-featherlight="image">
      <img src="{{root}}assets/img/p3-2-texas.gif">
      <label class="figurecaption">
      <cite>Bureau of Transportation Statistics, US Dept. of Transportation</cite></label>
      </a>
   </div>
</div>
