<div class="row">
   <div class="large-12 columns">
      <h3>Modifying trawl gear to protect habitat</h3>
      <p>
         Modified trawl gear, developed by scientists and fishermen, reduces contact with the seafloor by up to 90% compared to conventional gear. This has reduced impacts on crabs, sea stars, tunicates, and sponges.
      </p>
   </div>
</div>
<div class="row">
   <div class="large-10 large-centered columns">
      <div class="videoWrapper">
         <iframe src="https://www.youtube.com/embed/b-x3eb5NAsY" frameborder="0" allowfullscreen></iframe>      </div>
   </div>
</div>
