<div class="row">
   <div class="large-12 columns">
      <h3>Modifying trawl gear to protect habitat</h3>
      <p>
         Modified trawl gear, developed by scientists and fishermen, reduces contact with the seafloor by up to 90% compared to conventional gear. This has reduced impacts on crabs, sea stars, tunicates, and sponges.
      </p>
      <p>
        <a href="https://vimeo.com/181849162">Reducing habitat impact through new gear innovation</a> from <a href="https://vimeo.com/user56390331">EBFM</a> on <a href="https://vimeo.com">Vimeo</a>.
      </p>
   </div>
</div>
<div class="row">
   <div class="large-10 large-centered columns">
      <div class="videoWrapper">
        <iframe src="https://player.vimeo.com/video/181849162" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
   </div>
</div>
