<footer class=" row">
<!--   <div class="small-12 columns">-->

      <h4><b>{{title}}</b>: {{description}}</h4>
<!--   </div>-->
   <br>

   <hr>
   <div class="row">
      <br>

      <div class="medium-4 columns text-center">
         <!--      <h3 style="color:white;  ">Sponsored by</h3>-->
         <!--         <p>-->
         <a href="http://marineconservationalliance.org/"> <img src="{{root}}/assets/img/logo-mca-text.png" style="width:90%;"> </a>
         <!--         </p>-->

      </div>
      <div class="medium-8 columns text-center">
         <p style="margin-top: 10%;">
            <i>{{mission}}</i>
         </p>

      </div>
   </div>
</footer>

<div class="row">
      
      <a href="smtp:wordworks9@earthlink.net">Designed: Warren & Co </a> <a href="http://celttech.com" target="_blank" class="float-right">Coded: CeltTech</a>
</div>
