
<footer class="expanded row">
	 <div class="medium-9 columns">
			<h4 style=" margin-bottom: 25px;"><b>{{title}}</b>: {{description}}</h4>
	 </div>
	 <div class="medium-3 columns text-center">
				 <a href="http://marineconservationalliance.org/"><img src="{{root}}/assets/img/logo-mca-text.png" style="width:100%;  max-width: 200px; min-width:100px;margin-top:5px;" ></a>

	 </div>
	 <br>
<!--
	 <div class="row">
			<div class="small-4 columns text-center">
				<br>
				 <h5 style="color:white;">Sponsored by</h5>
				<a href="http://marineconservationalliance.org/"> <img src="{{root}}/assets/img/logo-mca-text.png"> </a>

			</div>
	 </div>
-->
</footer>
