
<footer class="extended row">
<!--   <div class="small-12 columns">-->
     <img src="{{root}}/assets/img/logo-mca-text.png" style="width:15%;" class="float-right">
      <h4><b>{{title}}</b>: {{description}}</h4>
      <p>
         {{mission}}
      </p>
<!--   </div>-->
   <br>
<!--
   <div class="row">
      <div class="small-4 columns text-center">
        <br>
         <h5 style="color:white;">Sponsored by</h5>
        <a href="http://marineconservationalliance.org/"> <img src="{{root}}/assets/img/logo-mca-text.png"> </a>

      </div>
   </div>
-->
</footer>
