<div class="media-object stack-for-small">
   <div class="media-object-section">
      <div class="thumbnail">
         <a href="{{root}}/{{link}}"> <img src="{{root}}assets/img/sml/{{img}}"> </a>
      </div>
   </div>
   <div class="media-object-section">
      <h4 class=""><a href="{{root}}/{{link}}">{{title}}</a></h4>
      <p class="lead">{{lead}}</p>
      <p><a data-featherlight="#{{id}}">{{map-title}}</a></p>
      <div class="lightbox" id="{{id}}">
        Please Add References
        <a onClick="moveToClosure()" class="featherlight-close">History and purpose</a>
      </div>
   </div>

   <p>&nbsp;</p>
</div>
