<nav id="simpletop" style="background-color:white;" class="row expanded">

<ul class="dropdown menu align-right" data-dropdown-menu>
   <li><a href="#">Contact</a></li>
   <li><a href="#">About</a></li>
   <li>
      <a href="#">Principles</a>
      <ul class="menu">
             <li><a href="principle1.html">1: Control Fisheries</a></li>
            <li><a href="principle2.html">2: Prevent Overfishing</a></li>
            <li><a href="principle3.html">3: Protect Habitat</a></li>
            <li><a href="#">4: Protect Birds &amp; Mammals</a></li>
            <li><a href="#">5: Foodwebs</a></li>
            <li><a href="#">6: Environmental Change</a></li>
            <li><a href="#">7: Consider People</a></li>
       <!-- ... -->
      </ul>
   </li>
   <li><a href="index.html">Home</a></li>

</ul>

</nav>
