<nav id="simpletop" style="background-color:white;" class="row">

<ul class="dropdown menu align-right" data-dropdown-menu>
	<li><a href="#">Contact</a></li>
	<li><a href="#">About</a></li>
	<li>
		<a href="#">Principles</a>
		<ul class="menu">
				 <li><a href="#">1: Control Fisheries</a></li>
				<li><a href="#">2: Prevent Overfishing</a></li>
				<li><a href="#">3: Protect Habitat</a></li>
				<li><a href="#">4: Protect Birds &amp; Mammals</a></li>
				<li><a href="#">5: Foodwebs</a></li>
				<li><a href="#">6: Environmental Change</a></li>
				<li><a href="#">7: Consider People</a></li>
		 <!-- ... -->
		</ul>
	</li>

</ul>

</nav>
