<!--
<script type="application/javascript">
	$(document).ready(function(){
	$('.slick-show').slick({
		setting-name: setting-value
	});
});
</script>


<div class="slick-show" >
	<div>
-->
			<img src="{{root}}assets/img/p1harvest.png" alt="NOAA Certified Fisheries Observer">
			<label class="figurecaption">NOAA Certified Fisheries Observer</label>
	</label>
<!--	<div>-->
		<img src="{{root}}assets/img/p1harvestfish.png" alt="Groundfish Observer Data">
			<label class="figurecaption">Groundfish Observer Data</label>
<!--
	</div>
</div>
-->
