<div class="row">
   <div class="large-12 columns">
      <h3>Ban on directed forage fish harvest protects marine predators </h3>
   </div>
   <div class="large-6 columns">
      <p>
         In 1998 the North Pacific Council acted to prevent development of new unrestricted fisheries for forage fish, protecting food sources for marine mammals, seabirds, and commercially harvested fish. A leading champion for the measure was Chris Blackburn, then director of the Alaska Groundfish Data Bank in Kodiak. “Prohibiting the commercial use of forage fish at this time is a pro-active move of which the [North Pacific Fishery Management] Council can be proud,” she wrote in a comment letter to the Council (April 9, 1997). “Harvesting both predators and prey is akin to burning a candle at both ends.”
      </p>
      <p>
         In the North Pacific, “forage fish” is defined to include over fifty species. Among them are krill, smelt, capelin, eulachon, sand lances, sandfish, pricklebacks, gunnels, lanternfish,  blacksmelts, and bristlemouths.
      </p>
      <strong>On these species:</strong>
      <ul>
         <li>Directed fishing is prohibited</li>
         <li>Catches are limited by a maximum retention allowance: 2% of retained species weight.</li>
         <li>Processing is limited to fishmeal production, a measure that reduces  waste of ”bycaught” forage fish while preventing development of high-value markets.</li>
      </ul>
   </div>
   <div class="large-6 columns">
      <img src="{{root}}assets/img/p5-1-seal.jpg" alt="NOAA Certified Fisheries Observer">
      <label class="figurecaption">Harbor Seal and Pup</label>
      <img src="{{root}}assets/img/p5-1-birds.jpg" alt="NOAA Certified Fisheries Observer">
      <label class="figurecaption">Red Legged Kittiwake Nest</label>

      <p><a data-open="p51References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p51References" data-reveal>
         <a href="http://www.afsc.noaa.gov/refm/stocks/plan_team/BSAIforage.pdf">http://www.afsc.noaa.gov/refm/stocks/plan_team/BSAIforage.pdf</a><br>
         <a href="https://www.afsc.noaa.gov/REFM/Docs/2014/GOAforage.pdf">https://www.afsc.noaa.gov/REFM/Docs/2014/GOAforage.pdf</a><br>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/bsai36_goa39fmp.pdf">https://alaskafisheries.noaa.gov/sites/default/files/bsai36_goa39fmp.pdf</a>

      </div>

      <p>&nbsp;</p>
   </div>
</div>
