<div class="row">
   <div class="large-12 columns">
      <h3>Protecting Foraging Areas of Sea Lions</h3>
      <p>
         Based on available science, managers have acted to ensure that fishing does not compete for prey with the endangered western stock of Steller sea lions. A network of protection areas currently protect more than 100,000 km<sup>2</sup> of feeding habitat for the mammals. These areas bar specific fisheries (chiefly Atka mackerel, cod, and pollock) from feeding grounds, especially at times when sea lions need abundant prey.
      </p>
      <p>
         For example, Steller sea lions ordinarily eat 6-10% of their weight each day, but nursing mothers may consume three times more fish to feed their young. The closures combine with additional regulations that disperse harvests (both spatially and temporally) to restrain concentrated removals in sea lion habitat, leaving fish in the water where sea lions need it most.
      </p>
      <img src="{{root}}assets/img/p5-2-sslmap.png" alt="NOAA Certified Fisheries Observer">
      <label class="figurecaption">SSL Critical Habitat Map</label>
      <p><a data-open="p52References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p52References" data-reveal>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/79fr70286.pdf">Protection measures I</a><br>
         <a href="https://alaskafisheries.noaa.gov/fisheries/sslpm">Protection measures II</a><br>
         <a href="http://www.fisheries.noaa.gov/pr/species/mammals/sealions/steller-sea-lion.htm">NOAA species profile</a><br>
         <a href="http://www.nmfs.noaa.gov/fishfacts/stellersealions.htm">NOAA Alaska Region website, Steller sea lions in Alaska</a><br>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/final0414.pdf">NOAA 2014 Biological Opinion</a>

      </div>

      <p>&nbsp;</p>
   </div>
</div>
