<div class="row">
   <div class="large-6 columns">
      <h3>Leaving Plenty of fish in th Bering Sea</h3>
      <p>This chart reveals why fishery managers around the world regard the US North Pacific region as a model of sustainable management, especially for groundfish (cod, pollock, flatfish, and other fish that are often found near the seabed). Biomass (gray) towers above catch (green), ensuring plenty of fish stay to replenish stocks, feed natural predators, and contribute to ecosystems. Catch (rarely exceeds catch limits blue), a sign of strong compliance. Catch limits are kept within scientific guidelines for the Acceptable Biological Catch (ABC, yellow). Managers avoid harvest levels that could overfish the resource (red). The harvest policy underpinning this practice embraces uncertainty and gaps in scientific knowledge about fish stocks, treating them as cues to increase precaution.</p>
      <a onclick="openTab('panel3');">More</a>
   </div>

   <div class="large-6 columns">

      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Please Replace Me</label>

      <p>&nbsp;</p>
      <p><a data-open="p21ref" class="references">REFERENCES</a></p>
      <div class="reveal" id="p21ref" data-reveal>
         <a href='http://www.afsc.noaa.gov/REFM/Stocks/assessments.htm' target="_blank"> BSAI 2015 Groundfish SAFE </a>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
