<h3>Selective Fishing Technology</h3>
<br>
<div class="row">
   <div class="large-6 columns">
      <h5>Species escape rates using halibut excluder in GOA cod trawl</h5>
      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Please Replace Me</label>
   </div>
   <div class="large-6 columns">
      {{> image
         img="p2-10-excluder.jpg"
         caption="Halibut Escapes through slots at right"
         cite="John Gauvin & Craig Rose"
      }}
   </div>
</div>
<div class="row">
   <div class="large-12 columns">
      <p>
         “Excluder” devices (carefully engineered exit holes in the net) reduce bycatch of halibut and salmon in North Pacific groundfish fleets by taking advantage of differences in fish behavior. Effective designs retain most target fish while encouraging prohibited species (in this case halibut) to leave. Approximately 80% of halibut escaped through this device in experiments authorized by the Council in the Gulf of Alaska, while only 20% of Pacific cod were lost. Use of excluders helps trawlers stay below their bycatch caps, so they can pursue their target species while freeing more halibut for other fleets that depend on this big flatfish. Decades of research by NOAA and industry groups have gradually improved performance of excluder devices.
      </p>
      <p><a data-open="p210References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p210References" data-reveal>
         <a href="http://access.afsc.noaa.gov/pubs/posters/pdfs/pGauvin01_gear-modifications.pdf" target="_blank">Graph: reconstructed to show escape rates,  from original graph of selectivity by a team of NOAA and industry researchers</a><br>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/report_halibutexcluder_efp06-03.pdf" target="_blank">Experimental fishing report on halibut excluder development</a><br>
         <a href="http://www.iphc.int/sa/bycatch/halexcl.pdf" target="_blank">Craig Rose NOAA report to IPHC on halibut excluder development</a><br>
         <a href="http://www.groundfishforum.org/Project/EFP/HED/HED.html" target="_blank">Report on earlier excluder research</a>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
