<div class="row">
   <div class="large-12 columns">
      <h3>Layers of precaution build fisheries to last</h3>
      <p>
         Science drives the catch limits that keep North Pacific fisheries healthy.
      </p>
      <p>
         Each year, NOAA scientists survey the biomass of groundfish off Alaska.  Using this data, they calculate conservative limits on harvest:
      </p>
      <ol>
         <li><em>The Overfishing Level (OFL): a ”red line” never crossed.</em> North Pacific managers draw this line far more conservatively than many of their peers worldwide. Indeed, many governments still aspire to reduce fishing pressure enough to reach levels that are formally designated as excessive and out-of-bounds in the US North Pacific. For fishing levels used in comparable groundfish fisheries worldwide, see <a href="http://www.fishsource.org">www.fishsource.org</a>.</li>
         <li><em>Acceptable Biological Catch (ABC):</em> estimated maximum sustainable harvest. Scientists calculate this limit using cautious harvest rates that are designed to ensure fish stocks are replenished.</li>
         <li><em>Total Allowable Catch (TAC):</em> North Pacific fishery managers set catch limits that never exceed the sustainable ABC.</li>
      </ol>
      <p>&nbsp;</p>
      <p><a data-featherlight="#p23References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p23References">
         <ol>
           <li><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0056684 ">Melnychuk, MC, JA Banobi, R Hilborn, Effects of Management Tactics on Meeting Conservation Objectives for Western North American Groundfish Fisheries, PLoS ONE 8(2): e56684. doi: 10.1371/journal.pone.0056684 </a></li>
           <li><a href="http://www.afsc.noaa.gov/REFM/Stocks/assessments.htm">BSAI and GOA stock assessment reports</a></li>
         </ol>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
