<div class="row">
	 <div class="large-6 columns">
			<h4>Leaving Plenty of Fish in the Gulf of Alaska</h4>
			<p>
				 There is a simple reason why the North Pacific supplies about 60% of all US landings by volume.  <br>
				 Stung by the costly memory of foreign overfishing in the region decades ago, managers and fishermen keep <span style="color:blue">catches (blue)</span> and <span style="color:blue">catch limits (orange)</span> safely within <span style="color:#ffce44">levels recommended by scientists (yellow)</span>.  Fishermen consistently accept some economic pain today in order to sustain plentiful <span style="color:gray">biomass (gray)</span> and abundant harvests tomorrow. Notably, the harvest policy converts uncertainty into precaution. This permits moderate fishing on well-understood stocks, while scaling down fishing on stocks about which less is known.
			</p>
			<a onclick="openTab('panel3');">More</a>
	 </div>
	 <div class="large-6 columns">

			<img src="{{root}}assets/img/placeholder_graph.jpg" alt="Placeholder">
			<label class="figurecaption">Graph to come</label>

			<p>&nbsp;</p>
			<p><a data-featherlight="#p22References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p22References">
				 <a href='http://www.afsc.noaa.gov/REFM/Stocks/assessments.htm' target="_blank">GOA 2015 SAFE report for groundfish</a>
			</div>
			<p>&nbsp;</p>
	 </div>
</div>
