<div class="row">
   <div class="large-6 columns">
      <h3>Pollock: rebuilt after foreign overfishing</h3>
      <p>
         Confronting unsustainable pollock fishing by foreign fleets, in the late 1970s the newly formed North Pacific Fishery Management Council immediately slashed harvests on pollock in the Eastern Bering Sea. The Council now strives to keep fishing pressure in the “safe zone”.
      </p>
   </div>
   <div class="large-6 columns">

      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Please Replace Me</label>

      <p>&nbsp;</p>
      <p><a data-featherlight="#p24References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p24References">
         <p>Fig 1.34 from, 2015 EBS pollock SAFE ; conceptual diagram  at right rendered from Fig 1.34</p>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
