<div class="row">
  <div class="large-12 columns">
    <h3>Pollock: rebuilt after foreign overfishing</h3>
    <p>
      Confronting unsustainable fishing by foreign fleets, in the late 1970s the newly formed North Pacific Fishery Management
      Council slashed harvests on pollock in the Eastern Bering Sea, rebuilding the stock. Reduced catches allowed rapid
      growth in biomass. Ever since, the Council has maintained catch limits that allow biomass to be at levels that leave a wide precautionary buffer to protect the future of the fishery, the resource and its many roles in the ecosystem. </p>
    <blockquote><span style='color: #ff7f0f'>F/Fmsy (orange)</span> indexes fishing mortality (F, a standard measure of fishing pressure)
      against the amount of fishing allowable at  maximum sustainable yield: 1 on the vertical axis. This shows
      harvests are kept at a fraction of maximum levels.<br><br>
      <span style='color: #2077b4'>B/Bmsy (blue)</span> indexes biomass (B) against its level at  maximum sustainable yield: 1 on the vertical axis. This shows that the Council maintains catch limits that allow biomass to be well above the Bmsy standard, ensuring that more than enough fish remain in the water to reproduce and support predators that feed on this resource.
    </blockquote>
    <p>In most years the ratio of the Eastern Bering Sea pollock harvested (spawning exploitation rate) is less than 20%, leaving about 80% of the biomass in the water.</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class='tableauPlaceholder' id='viz1477450569797' style='position: relative'>
      <noscript>
        <a href='#'><img alt='Pollock ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MC&#47;MCA-EBFM&#47;p2Pollock&#47;1_rss.png'
            style='border: none' /></a>
      </noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='MCA-EBFM&#47;p2Pollock' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MC&#47;MCA-EBFM&#47;p2Pollock&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
    <script type='text/javascript'>                    var divElement = document.getElementById('viz1477450569797');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='400px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    
    <label class="figurecaption">Key management quality indicators for Eastern Bering Sea pollock fishery</label>
    <p>&nbsp;</p>

    <p><a data-featherlight="#p24References" class="float-right">REFERENCES</a></p>
    <div class="lightbox" id="p24References">
      <p>Historical trajectory of Eastern Bering Sea pollock management from <a href="https://www.afsc.noaa.gov/REFM/Docs/2015/EBSpollock.pdf">Fig. 1.31, 2015 EBS Pollock SAFE report</a>        Underlying data for fishing mortality and biomass provided by Jim Ianelli, lead assessment author, NOAA</p>
      <ul>
        <li><a href="http://www.afsc.noaa.gov/REFM/Docs/2015/EBSpollock.pdf">For Spawning exploitation rate, see Figure 1.27, 2015 EBS pollock SAFE report </a></li>
    </div>
    <p>&nbsp;</p>
  </div>
</div>