<h3>Preventing overfishing</h3>
<br>
<div class="row">
   <div class="large-6 columns">
      <h5>Bering Sea and Aleutian Islands</h5>
      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Please Replace Me</label>
   </div>
   <div class="large-6 columns">
      <h5>Gulf of Alaska</h5>
      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Me too</label>
   </div>
</div>
<div class="row">
   <div class="large-12 columns">
      <p>
         None of the 26 major groundfish stocks (and stock complexes) across the BSAI and GOA are overfished or experiencing overfishing.
      </p>
      <p><a data-open="p25References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p25References" data-reveal>
         <p>2015 SAFE Introduction chapters, BSAI and GOA</p><br>

      </div>
      <p>&nbsp;</p>
   </div>
</div>
