<h3>Preventing overfishing</h3>
<br>
<p>
	None of the 26 major groundfish stocks (and stock complexes) across the BSAI and GOA are overfished or experiencing overfishing.
</p>

<div class="row row-img">
	<div class="large-6 columns img-bsai">
		<h5>Bering Sea and Aleutian Islands</h5>
		{{> image img="p2-6-bsai.jpg" caption="Status of stocks according to stock assessment introduction chapters"
		cite="2015 SAFE Introduction chapters" }}
	</div>
	<div class="large-6 columns img-goa">
		<h5>Gulf of Alaska</h5> {{> image img="p2-6-goa.jpg" caption="Status of stocks according to stock assessment introduction chapters"
		 cite="2015 SAFE Introduction chapters" }}
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<p><a data-featherlight="#p25References" class="float-right">REFERENCES</a></p>
		<div class="lightbox" id="p25References">
			<a href='http://www.afsc.noaa.gov/REFM/Docs/2015/BSAIintro.pdf' target="_blank">2015 SAFE BSAI Introduction Chapter</a><br/>
			<a href='http://www.afsc.noaa.gov/REFM/Docs/2015/GOAintro.pdf' target="_blank">2015 SAFE GOA Introduction Chapter</a>
		</div>
		<p>&nbsp;</p>
	</div>
</div>
