<h3>Preventing overfishing</h3>
<br>
<p>
	None of the 26 major groundfish stocks (and stock complexes) across the BSAI and GOA are overfished or experiencing overfishing.
</p>

<div class="row row-img">

	 <div class="large-6 columns img-bsai">
			<h5>Bering Sea and Aleutian Islands</h5>
			{{> image
         img="p2-6-bsai.jpg"
         caption="Summary of Bering Sea stock status next year"
         cite="2015 SAFE Introduction chapters"
      }}
	 </div>
	 <div class="large-6 columns img-goa">
			<h5>Gulf of Alaska</h5>
			{{> image
         img="p2-6-goa.jpg"
         caption="Summary of Gulf of Alaska stock status next year"
         cite="2015 SAFE Introduction chapters"
      }}
	 </div>
</div>
<div class="row">
	 <div class="large-12 columns">

			<p>
				 None of the 26 major groundfish stocks (and stock complexes) across the BSAI and GOA are overfished or experiencing overfishing.
			</p>
			<p><a data-featherlight="#p25References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p25References">
				 <p>2015 SAFE Introduction chapters, BSAI and GOA</p><br>

			</div>
			<p>&nbsp;</p>
	 </div>
</div>
