<h3>Pacific Ocean Perch: Recovered</h3>
<br>
<div class="row">
   <div class="large-6 columns">
      <h5>GOA Catch vs Biomass</h5>
      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Please Replace Me</label>
   </div>
   <div class="large-6 columns">
      <h5>BSAI Catch vs Biomass</h5>
      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Me too</label>
   </div>
</div>
<div class="row">
   <div class="large-12 columns">
      <p>
         Long-lived and slow-growing, Pacific Ocean Perch (redfish) were overfished by foreign fleets—especially in the Gulf of Alaska—until the late 1970s. Biomass began to recover with US control of the 200-mile zone, when managers clamped down on fishing. The Council tightened harvests further in the 1990s, and currently holds catch limits below 8.9% of biomass in the BSAI, and below 11.2% in the GOA. Spawning biomass in both basins has tripled under Council management, and stock today is healthy.
      </p>
      <p><a data-open="p26References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p26References" data-reveal>
         <a href="http://www.afsc.noaa.gov/REFM/Docs/2015/GOApop.pdf" target="_blank">GOA Pacific Ocean Perch stock assessment</a><br>
         <a href="http://www.afsc.noaa.gov/REFM/Docs/2015/BSAIpop.pdf" target="_blank">BSAI Pacific Ocean Perch stock assessment</a>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
