<div class="row">
   <div class="large-6 columns">
      <h3>Building the Bycatch Toolkit</h3>
      <p>
         <strong>Beyond preventing overfishing, </strong>
         North Pacific managers have worked patiently for decades with scientists and fishermen to curtail the troubling take of unmarketable and prohibited species in fishing gear.
      </p>
      <p>
          Every fishery catches the wrong fish sometimes. Often, that fish is somebody else’s livelihood.  Fishermen hold each other accountable. This accountability drives improvement. Managers, fishermen and collaborating scientists in the North Pacific have built a remarkable toolkit of policy, science, and fishing technology to drive down bycatch.
      </p>
      <h5>What's in the kit?</h5>
      <ul>
         <li>Research hones gear to reduce bycatch and habitat impacts.</li>
         <li>Rules require cleaner-fishing technology, prohibit discards of unwanted fish, and incentivize performance.</li>
         <li>Data driven real-time closures help pollock fleet avoid salmon “hot spots”. </li>
         <li>Permanent or seasonal closures restrict fleets in high-bycatch- areas for crab, salmon, halibut, herring, and other species.</li>
      </ul>
   </div>
   <div class="large-6 columns">
      {{> image
         img="p2-7-crab.jpg"
         caption="Carwyn Hammond, a NMFS biologist works in Conservation Engineering to reduce bycatch, related mortality,  and impacts on seafloor habitats. In this photo Hammond was studying unobserved mortality of red king crab."
         cite="NOAA"
      }}
   </div>
</div>
