<h3>Sharing Salmon Hotspot Data</h3>
<br>
<div class="row">
   <div class="large-6 columns">
     {{> image
        img="p2-8-aggregate.jpg"
        cite="Sea State"
     }}
   </div>
   <div class="large-6 columns">
      <h4>Dynamic Closures Reduce Salmon Bycatch</h4>
      <p>
         Sharing bycatch data to locate salmon “hot spots” enables Bering Sea pollock fishing cooperatives to move member vessels out of areas with higher amounts of salmon. <span style="color:red">Red circles &#9679;</span> mark the highest salmon concentrations (guiding shape and location of closures). <span style="color:red">Red stars &#9733;</span>, <span style="color:green">green stars &#9733;</span>, and <span style="color:blue">blue crosses &#43;</span> signify progressively lower concentrations of salmon— indicating better waters to chase pollock.  
      </p>
      <br>
      <h5>Salmon Avoided</h5>
      <em>(Estimated savings from vessels moving out of hot spots in 2013)</em><br>
      <strong>Chinook: 74%</strong><br>
      <strong>Chum: 65%</strong>
   </div>
</div>
<div class="row">
   <div class="large-12 columns">
      <p>
         Avoiding salmon is a priority of pollock trawlers, who feel the sting when coastal fishing communities across Alaska demand tighter limits on bycatch that nibbles into their own salmon harvests. Trawlers don’t target salmon, and legally can’t sell them. When incidentally caught salmon meet specific criteria, they can be processed and donated to food banks. But avoiding salmon can be tricky when they occasionally mingle with pollock.
      </p>
      <p>
         Along with adapting their gear and timing their harvest to avoid salmon, the Council oversees an innovative industry program that closes salmon “hot spots” in real time. Pollock fishing cooperatives use an independent monitoring firm (Sea State) to track salmon bycatch using satellite and observer data. The co-ops close salmon hot spots as needed. Unlike federal managers, they can impose closures fast enough to save salmon, using contracts to bind members to comply.
      </p>
      <p><a data-featherlight="#p28References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p28References">
         <a href="npfmc.legistar.com/gateway.aspx?M=F&ID=d074c978-0a90-42af-8676-8a714f17d217.pdf" target="_blank">AFA-SeaState BSAI Pollock ICA Report April 2016</a><br>
         <a href="https://npfmc.legistar.com/View.ashx?M=F&ID=2960631&GUID=D97EC20D-5916-404B-85AC-D4D81F974612" target="_blank">AFA Chum ICA Report,  April 2014</a>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
