<h3>Sharing Aggregated Hot Spot Data</h3>
<br>
<div class="row">
   <div class="large-8 columns">
     {{> image
        img="p2-8-aggregate.jpg"
        caption="Sharing Aggregate Hotspot Data"
        cite="Sea State"
     }}
   </div>
   <div class="large-4 columns">
      <h4>Dynamic Closures Reduce Salmon</h4>
      <p>
         Sharing bycatch data to locate salmon “hot spots” enables Bering Sea pollock fishing cooperatives to move member vessels out of areas with higher amounts of salmon. Red circles mark the highest salmon concentrations (guiding shape and location of closures). Red stars, green stars, and blue crosses signify progressively lower concentrations of salmon— indicating better waters to chase pollock. Results vary, but generally impress.
      </p>
      <br>
      <h5>Salmon Avoided</h5>
      <em>(Estimated savings from vessels moving out of hot spots in 2013)</em><br>
      <strong>Chinook: 74%</strong><br>
      <strong>Chum: 65%</strong>
   </div>
</div>
<div class="row">
   <div class="large-12 columns">
      <p>
         Dodging salmon is a major priority for pollock trawlers, who feel the sting when coastal fishing communities across Alaska demand tighter limits on bycatch that nibbles into their own salmon harvests. Trawlers don’t target salmon, and legally can’t sell them (most are donated to foodbanks). But avoiding salmon can be tricky when they occasionally mingle with pollock.
      </p>
      <p>
         Along with adapting their gear and timing their harvest to avoid salmon, the Council oversees an innovative industry program that closes salmon “hot spots” in real time. Pollock fishing cooperatives use an independent monitoring firm (Sea State) to track salmon bycatch using satellite and observer data. The co-ops close salmon hot spots as needed. Unlike federal managers, they can impose closures fast enough to save salmon, using contracts to bind members to comply.
      </p>
      <p><a data-featherlight="#p28References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p28References">
         <a href="npfmc.legistar.com/gateway.aspx?M=F&ID=d074c978-0a90-42af-8676-8a714f17d217.pdf" target="_blank">AFA-SeaState BSAI Pollock ICA Report April 2016</a><br>
         <a href="https://npfmc.legistar.com/View.ashx?M=F&ID=2960631&GUID=D97EC20D-5916-404B-85AC-D4D81F974612" target="_blank">AFA Chum ICA Report,  April 2014</a>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
