<h3>Halibut Mortality in Federal Hook and Line and Trawl Groundfish Fisheries</h3>
<br>
<div class="row">
	<aside class="large-3 columns">
		{{> image img="p2-9-fishing.jpg" caption="Pribilof Island- Halibut Fishing" cite="NOAA" }}
		<p>
			Halibut—treasured by commercial, sport, and subsistence fishermen as well as seafood lovers—has inspired decades of bycatch
			reduction in the North Pacific. Vessels targeting fish that share the seabed with halibut inadvertently scoop up some
			of the total allowable halibut catch. They are forbidden from selling it, and this bycatch is carefully counted against
			halibut limits.
		</p>
	</aside>
	<div class="large-9 columns">
		<p>
			In recent years, the North Pacific has seen a downward trend in adult halibut biomass.  The number of incidentally caught
			halibut has steadily declined likely reflecting both bycatch reduction measures implemented by the Council and the reduction
			in adult halibut biomass.  Key bycatch reduction measures include; trawl modifications, gear restrictions, area closures,
			regulatory bycatch limitations, reducing handling mortality, and careful in-season management by fishing cooperatives
			to avoid bycatch.  Since halibut share the seafloor with multiple groundfish species, some bycatch is inevitable, but
			steady progress marks the road.
		</p>
		<h5>Halibut Bycatch in Groundfish Fisheries</h5>
		<div class='tableauPlaceholder' id='viz1478461683710' style='position: relative'>
			<noscript>
				<a href='#'><img alt='p2 Halibut ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MC&#47;MCA-EBFM&#47;p2Halibut_1&#47;1_rss.png'
							style='border: none' /></a>
			</noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='MCA-EBFM&#47;p2Halibut_1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MC&#47;MCA-EBFM&#47;p2Halibut_1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
		<script type='text/javascript'>                    var divElement = document.getElementById('viz1478461683710');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		<label class="figurecaption"><cite>IPHC Halibut Bycatch Work Group II Report</cite></label>

		<p><a data-featherlight="#p29References" class="float-right">REFERENCES</a></p>
		<div class="lightbox" id="p29References">
				<a href="http://www.iphc.int/meetings/2015am/bb/10_1HalibutBycWorkGroup_rept_v17.pdf" target="_blank">IPHC Halibut Bycatch Work Group II Report</a>				
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
]