<h3>Avoiding Halibut</h3>
<br>
<div class="row">
	 <aside class="large-3 columns">
			{{> image
				 img="p2-9-fishing.jpg"
				 caption="Pribilof Island- Halibut Fishing"
				 cite="NOAA"
			}}
			<p>
				 Halibut—treasured by commercial, sport, and subsistence fishermen as well as seafood lovers—has inspired decades of bycatch reduction in the North Pacific. Vessels targeting fish that share the seabed with halibut inadvertently scoop up some of the total allowable halibut catch. They are forbidden from selling it, and this bycatch is carefully counted against halibut limits.
			</p>
	 </aside>
	 <div class="large-9 columns">
			<h5>Halibut in Groundfish Fisheries off Alaska</h5>
			<img src="{{root}}assets/img/placeholder_graph.jpg" alt="Placeholder">
			<label class="figurecaption">Graph to come</label>
			<p>
				In recent years, the North Pacific has seen a downward trend in adult halibut biomass.  The number of incidentally caught halibut has steadily declined likely reflecting both bycatch reduction measures implemented by the Council and the reduction in adult halibut biomass.  Key bycatch reduction measures include; trawl modifications, gear restrictions, area closures, regulatory bycatch limitations, and careful in-season management by fishing cooperatives to avoid bycatch.  Since halibut share the seafloor with multiple groundfish species, some bycatch is inevitable, but steady progress marks the road.
			</p>

			<p><a data-featherlight="#p29References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p29References">
				 <a href="http://www.iphc.int/meetings/2015am/bb/10_1HalibutBycWorkGroup_rept_v17.pdf" target="_blank">IPHC Halibut Bycatch Work Group II Report</a>
			</div>
			<p>&nbsp;</p>
	 </div>
</div>
