<h3>Avoiding Halibut</h3>
<br>
<div class="row">
   <aside class="large-3 columns">
      <h5>A Prized Fish Spurs Improvement</h5>
      {{> image
         img="p2-9-fishing.jpg"
         caption="Pribilof Island- Halibut Fishing"
         cite="NOAA"
      }}
      <p>
         Halibut—treasured by commercial, sport, and subsistence fishermen as well as seafood lovers—has inspired decades of bycatch reduction in the North Pacific. Vessels targeting fish that share the seabed with halibut inadvertently scoop up some of the total allowable halibut catch. They are forbidden to sell it, and this bycatch is carefully counted against halibut limits.
      </p>
   </aside>
   <div class="large-9 columns">
      <h5>Halibut in Groundfish Fisheries off Alaska</h5>
      <img src="{{root}}assets/img/placeholder.png" alt="Placeholder">
      <label class="figurecaption">Me too</label>
      <p>
         Numbers of halibut caught unintentionally have steadily declined, reflecting bycatch-reduction measures and more recently perhaps the downtrend in adult halibut biomass. Key measures: bycatch-trimming trawl modifications, gear restrictions, area closures, regulatory bycatch limits and careful in-season management by fishing cooperatives to avoid bycatch. Numbers of halibut caught unintentionally have steadily declined. Since halibut share the seafloor with multiple groundfish species, some bycatch is inevitable, but steady progress marks the road.
      </p>
      <!-- <p>&nbsp;</p> -->
      <p><a data-open="p29References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p29References" data-reveal>
         <a href="http://www.iphc.int/meetings/2015am/bb/10_1HalibutBycWorkGroup_rept_v17.pdf" target="_blank">IPHC Halibut Bycatch Work Group II Report</a>
      </div>
      <p>&nbsp;</p>
   </div>
</div>
<!-- <div class="row">
   <div class="large-12 columns">

   </div>
</div> -->
