<div class="row">
   <div class="large-12 columns">
      <h3>Steering America’s Largest Fishery Through Changing Waters</h3>
      {{> image
         img="p6-3-gambell.png"
         caption="Gambell, AK"
         cite="Lt. Timothy Smith, NOAA"
      }}
      <p>
         Recognizing that warming may be shifting fish stocks northward, the Council has sought to protect sensitive habitats, respect Native concerns about bottom trawling, and allow responsible fishing practices that allow fleets to adapt to a changing environment.
      </p>
      <p>
         In 2008 the Council prohibited bottom trawling in the 212,400 km<sup>2</sup> Northern Bering Sea Research Area (NBSRA), pending completion of an environmental study to understand effects of modified, low-impact trawl gear, in addition to federal consultations on endangered and threatened species in the area.
      </p>
      <p>
         The Council also closed a 24,416 km<sup>2</sup> swath around St. Lawrence Island (home of the village of Gambell, on right side in panorama above) and protected another 33,534 km<sup>2</sup> of waters encompassing several areas: Nunivak Island, a rare pocket of blue king crab habitat around St. Matthew Island, and waters along Western Alaska’s coast near the Kuskokwim River delta. In 2010 the Council expanded the protected area for blue king crab habitat around St. Matthew. Responding to shifting flatfish distribution, the Council’s 2010 action also adjusted rules within a narrow strip comprising about 5 percent of the Research Area; this became part of a new 11,270 km<sup>2</sup> zone where only low-impact trawl gear is permitted. The Council designed this Modified Gear Trawl Zone (MGTZ) to minimize damage to seabed habitats while allowing continued flatfish harvests in a changing ocean.
      </p>
      <p>
         In a tribal consultation with NOAA, the village of Unalakleet opposed any bottom trawling in the Research Area. NOAA responded, in part: “NMFS understands that the concern of the tribal representatives is primarily on the potential adverse impact that non-pelagic trawling may have…on bottom habitat that supports subsistence resources. Because the regulations require the use of modified nonpelagic trawl gear in the MGTZ, the potential impact on bottom habitat…is reduced. The rest of the NBSRA remains closed to commercial nonpelagic trawling.” The rule specifies design requirements to elevate the trawl and its towing bridles and minimize benthic impacts.
      </p>

      <p><a data-open="p63References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p63References" data-reveal>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/73fr12357.pdf" target="_blank">Proposed rule for BSAI groundfish Amendment 89, establishing several Bering Sea closures</a><br><br>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/finalrules/75fr61642.pdf" target="_blank">Final rule for Amendment 94, modifying  closures</a><br><br>
         <a href="http://www.npfmc.org/wp-content/PDFdocuments/resources/Stram_Evans2009.pdf" target="_blank">Stram & Evans 2009, Fishey Management responses to climate change in the North Pacific</a>
      </div>

      <p>&nbsp;</p>
   </div>
</div>
