<div class="row">
   <div class="large-12 columns">
      <h3>Easing Stress on a Faltering Coldwater Crab</h3>
   </div>
   <div class="large-6 columns">
      <p>
         Blue king crab stocks have collapsed in the Pribilof Islands, and NOAA scientists speculate warmer seas and associated environmental changes –which disrupt settlement and survival for tiny larvae of this cold-water crustacean—are keeping the battered population from rebounding.  The Council has closed fishing to fisheries that could further affect blue king crab near the island. The Pribilof Island Habitat Conservation Area (highlighted area), established in 1995, restricts trawling in a 24,009 km<sup>2</sup> box defined by blue king crab habitat.
         Download map as pdf, <a href="{{root}}assets/pdf/image of Prib Islands Habitat Conservation Area, from John V. Olson NOAA 249kb size.pdf">here</a>.
      </p>
   </div>
   <div class="large-6 columns">
      {{> image
         img="p6-4-pribmap.png"
         caption="Pribilof Islands Habitat Conservation Area"
         cite="John Olson, NOAA"
      }}
      <p><a data-featherlight="#p64References" class="float-right">REFERENCES</a></p>
      <div class="lightbox" id="p64References">
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/79fr49487.pdf" target="_blank">References: 2014 rule barring pot cod fishing</a><br>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/analyses/43_103finalea.pdf" target="_blank">Environmental Assessment</a><br>
         <a href="http://www2.cec.org/nampan/pca/pribilof-islands-0" target="_blank">Fur seal and kittiwakes in Pribilofs</a><br>
         <p>Susceptibility to warm waters: R. Foy, NOAA, pers. comm, May 2, 2016</p>
      </div>

      <p>&nbsp;</p>
   </div>
</div>
