<div class="row">
   <div class="large-12 columns">
      <h3>Easing Stress on a Faltering Coldwater Crab</h3>
      <p>
         Blue king crab have collapsed in the Pribilof Islands, and NOAA scientists reckon warmer seas and associated environmental changes –which disrupt settlement and survival for tiny larvae of this cold-water crustacean—are keeping the battered population from rebounding.  Lacking authority over climate,  the Council has barred other fisheries that could affect the stock near the islands. The Pribilof Island Habitat Conservation Area (highlighted area), established in 1995, restricts trawling in a 24,009 km<sup>2</sup> box defined by blue king crab habitat.
      </p>
      <img src="{{root}}assets/img/p6-4-pribmap.png" alt="NOAA Certified Fisheries Observer">
      <label class="figurecaption">Prib Islands Habitat Conversation Area</label>
      <p><a data-open="p64References" class="float-right">REFERENCES</a></p>
      <div class="reveal" id="p64References" data-reveal>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/79fr49487.pdf">References: 2014 rule barring pot cod fishing</a><br>
         <a href="https://alaskafisheries.noaa.gov/sites/default/files/analyses/43_103finalea.pdf">Environmental Assessment</a><br>
         <a href="http://www2.cec.org/nampan/pca/pribilof-islands-0">Fur seal and kittiwakes in Pribilofs</a><br>
         <p>Susceptibility to warm waters: R. Foy, NOAA, pers. comm, May 2, 2016</p>
      </div>

      <p>&nbsp;</p>
   </div>
</div>
