<div class="row">
   <div class="large-12 columns">
      <h3>Sustaining Fishing Communities and the Nation’s Seafood Supply</h3>
   </div>
   <div class="large-6 columns">
      {{> image
         img="p7-1-boats.jpg"
         caption="Kodiak Boats"
         cite="Susan Chambers"
      }}
   </div>
   <div class="large-6 columns">
      <p>Total seafood harvest in Alaska in 2014 was 5.7 billion pounds which was 60% of the volume of seafood produced domestically and 67.5% of the domestic groundfish production.  </p>
      
      <p> The Alaska processing sector - which consists of 176 shore-based plants, 73 catcher-processors, and 12 floating processors – contributed $2.3 billion in added value that year.
          </p>
      <ul>
         <li>Direct seafood jobs in Alaska: 59,539</li>
         <li>Nationwide FTE jobs created by Alaska seafood (direct + indirect): 111,800</li>
         <li>Number of Alaska-resident commercial fishermen in 2014: 17,634</li>
         <li>Total number of skippers & crew employed in 2014: 31,819</li>
         <li>Alaska seafood industry national economic output, (direct + indirect): $14.6 billion</li>
      </ul>
   </div>
</div>
<p><a data-featherlight="#p71References" class="float-right">REFERENCES</a></p>
<div class="lightbox" id="p71References">
    <ul>
        <li><a href="http://laborstats.alaska.gov/trends/nov15art1.pdf" target="_blank">Seafood harvesting report in Alaska Economic Trends, Nov 2015, Alaska Department of Labor and Workforce Development</a></li>
        <li> <a href="http://ebooks.alaskaseafood.org/ASMI_Seafood_Impacts_Dec2015/pubData/source/ASMI%20Alaska%20Seafood%20Impacts%20Final%20Dec2015%20-%20low%20res.pdf" target="_blank">The Economic Value of Alaska’s Seafood Industry, Dec 2015, ASMI/McDowell Group</a></li>
    </ul>

  
</div>
<p>&nbsp;</p>
