<div class="row">
	 <div class="large-12 columns">
			<h3> Increased Safety in Crab Fleet</h3>
			<p>
Until 2005, Bering Sea crab tragically earned its reputation as the Deadliest
Catch.Much has changed. Under the new quota program, fatalities dropped by 87.5%, averaging just one per year during 2005-2013. Tighter safety rules and training contributed to this improvement,but slowing the race for fish dialed back much of the risk that was once routine. Waiting out dangerous storms? Keeping crews well fed and rested? Safety drills,drug testing? These are standard practice now.

			</p>
			<img src="{{root}}assets/img/placeholder_graph.jpg" alt="Placeholder">
			<label class="figurecaption">Fatalities in the Crab Fleet - graph to come</label>

			<p><a data-featherlight="#p73References" class="float-right">REFERENCES</a></p>
			<div class="lightbox" id="p73References">
				 <a href="http://www.cdc.gov/niosh/docs/2016-112/pdfs/2016-112.pdf" target="_blank">Vessel Safety</a>
			</div>
			<p>&nbsp;</p>
	 </div>
</div>
