<div class="row">
   <div class="large-12 columns">
      <h3>Community Development Quota benefits in Western Alaska</h3>
   </div>

   <div class="large-12 columns">
      <p>
         The Council first proposed reserving a portion of allowable harvests for Western Alaska coastal communities back in 1991. Today Community Development Quotas (CDQ) groups are a rising power in the North Pacific. No longer just leasing out their quota, they own a large share of Alaska’s seafood industry.
      </p>
      <ul>
         <li>More than $521 million in direct wages, payments to resident fishermen, scholarships and training benefits in the decade ending 2011.</li>
         <li>More than $176 million invested in community and fisheries activities in 2011.</li>
         <li>Employment, infrastructure, and median income have improved in all communities.</li>
         <li>CDQ groups in 2014 owned all or part of ~85 fishing and processing vessels (mainly groundfish and crab) and equity stakes in major seafood firms.</li>
      </ul>
   </div>
</div>
<div class="row row-img">
   <div class="medium-3 columns img-fishermen">
      {{> image
         img="p7-4-fishermen.jpg"
         caption="Native Fishermen"
      }}
   </div>
   <div class="medium-3 columns img-villages">
      {{> image
         img="p7-4-villages.jpg"
         caption="Coastal Villages"
         caption2="celebrating CDQ"
      }}
   </div>
  
   <div class="medium-3 columns img-salmoncamp">
      {{> image
         img="p7-4-salmoncamp.jpg"
         caption="Native Salmon Camp"
      }}
   </div>
</div>
<div class="row row-img">

   <div class="medium-6 columns img-aggregate">
      {{> image
         img="p7-4-aggregate.jpg"
         caption="Aggregated statement of financial position"
      }}
   </div>
</div>
Photos: Bottom left photo courtesy of APICDA, all others courtesy WACDA
<p><a data-featherlight="#p74References" class="float-right">REFERENCES</a></p>
<div class="lightbox" id="p74References">
   <p>
      NOAA and Council reports on North Pacific catch share programs:
   </p>
   <a href="http://www.wacda.org/media/pdf/SMR_2011.pdf" target="_blank">References : Western Alaska Community Development Association</a><br>
   <a href="https://alaskafisheries.noaa.gov/sites/default/files/apicda.pdf" target="_blank">APICDA Decennial CDQ report</a><br>
   <a href="https://alaskafisheries.noaa.gov/sites/default/files/cdqprogsummary.pdf" target="_blank">NOAA CDQ program summary</a>
</div>
<p>&nbsp;</p>
