<div class="row">
   <div class="large-12 columns">
      <h3>Catch Shares: Increased Safety in Crab Fleet</h3>
   </div>
   <div class="large-6 columns">
      {{> image
         img="p7-6-paddy.jpg"
         caption="Paddy O'Donnell"
         cite="SeaShare"
      }}
   </div>
   <div class="large-6 columns">
      <p>
         Paddy O’Donnell, owner of the trawler F/V Caravelle in Kodiak, is one proud contributor to food banks. By allowing fishermen to donate fish that otherwise must be discarded under bycatch regulations, the North Pacific Fishery Management Council unleashed a new supply of seafood for the hungry. Fishermen and processors were happy to end the once-mandatory waste of good fish, and they’ve added plenty more. SeaShare, the industry-sponsored nonprofit that pioneered this approach, reports that participants have donated more than 200 million seafood servings to foodbanks.
      </p>
   </div>
</div>
