<div class="row">
   <div class="large-12 columns">
      <h3>Community Outreach in remote Alaska communities</h3>
   </div>
   <div class="large-6 columns">
      <p>
         One of the North Pacific Fishery Management Council policy priorities has been to reach out to remote Alaskan regions and Alaska Native entities, encouraging their participation in fishery management decisions that may affect their communities. The Council developed a rural outreach committee and has annually budgeted funds for meetings and travel to remote regions to discuss issues such as management of salmon bycatch. Since 2008, three comprehensive outreach efforts for rural Alaska communities have included statewide teleconferences, participation in a series of meetings with fishery and resource management groups in Western Alaska.
      </p>
      <p>
         Early in his administration President Obama issued Executive Order 13175 which reaffirmed the importance of tribal consultations as part of all decision making by federal agencies, including the National  Marine Fisheries Service. In recent years both the Council and NMFS have travelled to rural Alaska communities, especially in the Arctic, Yukon and Kuskokwim regions. The effort seems to have paid off based on increased written comments and oral public testimony to the Council by stakeholders from those regions.
      </p>
   </div>
   <div class="large-6 columns">
      {{> image
         img="p7-7-meeting.jpg"
         caption="Nenana-RAC meeting"
         cite="NPFMC"
      }}
   </div>
</div>
