{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
	 <meta charset="utf-8" />
	 <meta http-equiv="x-ua-compatible" content="ie=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <meta name="description" content="{{description}}">
	 <title>{{title}}</title>
	 <link rel="stylesheet" href="{{root}}assets/css/app.css"> {{> icons}}
	 <meta name="theme-color" content="#ffffff">
	 <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	 <!-- For lightbox -->
	 <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
	 <!-- For Tabs -->
	 <link rel="stylesheet" href="{{root}}assets/ruby/rubytabs.css">
	 <link rel="stylesheet" href="{{root}}assets/ruby/ruby.animate.css">
</head>

<body id="{{page}}">

	 {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> nav-simple}}

	 <h1 class="pagetitle">{{title}}</h1>

	 <section class="row">
			<div class="small-12 columns">
				 <div class="jumbotron row">
						<div class="large-5 columns">
							 <h2>{{description}}</h2>
							 <h3>yes</h3>
							 <h4>
								 {{{ explanation }}}
									<!-- {{#if explanation}}
									{{/if}}
									{{^ explanation}}
										 Habitat protections cover more than 2.1 million km<sup>2</sup> in the North Pacific,  safeguarding seabed organisms and preventing harm.
									{{/explanation}} -->
							 </h4>
						</div>
						<div class="large-7 columns jumboimage">
							<a href="{{root}}assets/img/{{jumboimage}}" data-featherlight="image">
							 <img src="{{root}}assets/img/{{jumboimage}}">
							 </a>
							 <label>{{{jumboimagelabel}}}</label>
						</div>
				 </div>
			</div>
	 </section>

	 {{> body}}
	 {{> footer}}
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	 <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	 <script src="{{root}}assets/ruby/rubytabs.js"></script>
	 <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
